node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
config*
*key.json
*Key.json

# macOS
.DS_Store
.vscode/launch.json
client/components/fireBase/base.js
client/components/fireBase/base.js
