node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
client/components/fireBase/config.jsx
client/components/fireBase/config.js
server/fireBase/config.jsx
server/fireBase/config.js
.vscode/launch.json
